body{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 30px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

button:hover{
    background-color: black;
    color: white;
}